{{#extends 'base'}}

{{#block 'content'}}
<h2>{{ingredient.name}}</h2>

{{#each ingredient.comments}}
<div class="media mt-3">
   <div class="media-body">
    <h5 class="mt-0">{{this.email}}</h5>
    {{this.comments}}  
    <div>
        <a href="/ingredients/{{../ingredient._id}}/comments/{{this._id}}/delete" class="btn btn-danger btn-sm">Delete</a>
    </div>

  </div>
</div>
{{/each}}

{{/block}}

{{/extends}}